@charset "UTF-8";

	
	/* [sidebar 스타일] */
	
	.sidebar {
		height: 100vh;
		padding: 0;
		box-shadow: 2px 2px 2px #999;
		/* background: #ebf1f3; */
	}
	
	#jGroup-name { 
		height: 66px;
		background: #e9e2da; /* 상단색 */
		border-bottom: 1px solid #DCDCDC;
	}
	
	.group-name { 
		font-family: 'Festive', cursive;
		font-size: 40px;
	}
	
	ul, li {
		list-style: none;
		text-align: center;
	    font-size: 1.04em;
		font-weight: bold;
	}
	
	.list-group {
		padding-left: 5px;
		padding-right: 5px;
	}
	
	ul .upperList {
		margin-top: 25px;
	}
	
	.listBtn {
		border: none;
		background: transparent;
		font-weight: bold;
	}
	
	.subListItem {
		text-align: left;
		padding-left: 43%;
	}
	
	.subListItem a {
		text-decoration: none;
		font-family: 'Nanum Gothic Coding', monospace;
		font-size: 0.65em;
		color: black;
	}
	

	/* sidebar hover 색상 */
	.listBtn:hover {
		color: #C0C0C0;
	}
	
	.subListItem:hover {
		background: #FDF5E6;
	}
	
	
	
	
	/* 우측 화면 */
	#rightPanel { padding-right: 0px; }
	
	/* [navbar(상단 바) 스타일] */
	.jNavbar {
		padding-top: 20px;
		margin-left: 3px;
		border-bottom: 1px solid #DCDCDC;
		background: #e9e2da; /* 상단바 색상 */
	}
	
	.jNavbar div {
		padding-bottom: 5px;
	}
	
	.jNavbar h4 {
		font-weight: bold;
		font-size: 20px;
	}
	
	.jNavbar p{
		margin-bottom: 0px;
		font-size: 5px;
	}

	.jNavbar a {
		text-decoration: none;
		color: black;
		display: inline;
		margin-right: 10px;
	}
	
	.jNavbar a:hover {
		color: #C0C0C0;
	}
	
	#col3 { padding-right: 70px; } /*icon 우측 여백확보*/

	/* icon CSS 속성 */
	.bi-house { margin-right: 5px; }
	
	
	/* 작업화면 레이아웃 */
	
	#contents-container {
		margin-left: 3px;
		background: #f7f9fc;
		--bs-scroll-height: 91vh;
	}
	
		
	.container { margin-top: 20px; }
	
	
	/* footer */
	#content-footer {
		border-top: 1px solid #DCDCDC;
		background-color: #fff;
		margin-top: 70px;
		font-size: 10px;
		color: #737d85;
	}
	
	#content-footer p {
		margin-bottom: 0px;
	}

