@charset "UTF-8";

/***********************************************************/
/* container */

#container {
	width: 1000px;
	/*width: 75%;*/
	margin: 0 auto;
	height: auto;
	padding: 50px;
	margin-bottom: 80px;
	text-align: center;
	position: relative;
}

.cont-title {
	padding-top: 10px;
	width: 100%;
}

.cont-title h1 {
	margin: 0px;
}

.cont-title span {
	background-color: #08b2f5;
	width: 60px;
    height: 6px;
    background: #08b2f5;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.cont-nav {
	text-align: center;
	width: 100%;
}

.cont-nav ul {
	padding-left: 0px;
}

.link-tab {
	display: inline-block;
	list-style: none;
	border: 1px solid #e2e2e2;
	width: 16.455%;
	height: 50px;
	color: #b29a95;
}

.link-tab a {
	display: block;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
	padding-top: 13px;
}

.link-tab:hover, .on {
	background-color: #08b2f5;
	color: #ffffff;
}
